.heroSection {
  height: 600px;
  width: 100%;
}

.container {
  display: flex;
}

.navList ul {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  flex-wrap: wrap;
}

.heroTextParent {
  align-content: center;
}

.imgParent {
  display: flex;
}

.list1Parent ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.txt3Parent {
  display: flex;
  gap: 20px;
}
.txt3Parent p {
  align-content: center;
}

.cardsParent {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cardd1 {
  background-color: #f3f3f3;
  border-radius: 45px;
}

.cardd2 {
  background-color: #b9ff66;
  border-radius: 45px;
}
.cardd2 button {
  background-color: #b9ff66;
}

.card-body {
  justify-content: center;
  align-content: center;
  text-align: center;
}
.card-body .card-title1 {
  background-color: #b9ff66;
}
.card-body .card-title2 {
  background-color: #f3f3f3;
}

.card-body button {
  margin-top: 30px;
  border: none;
}
.card-body button span {
  margin-right: 10px;
}

.sec3Col2 img {
  padding: 40px;
}

.section6 {
  display: flex;
  justify-content: center;
}

.sec6-card {
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0);
  background-color: #b9ff66;
  display: flex;
  gap: 10px;
  justify-content: start !important;
  align-items: center;
}

.list-group-item {
  background-color: #b9ff66;
  border-radius: 20px !important;
}
.list-group-item p {
  color: black;
  padding: 15px 50px;
}

.sec6Card {
  padding: 20px 70px;
}

.containerNo7 {
  display: flex;
  justify-content: center;
}

.container7 {
  border: 0.1px solid black;
  width: 80rem;
  justify-content: space-between;
  padding: 20px;
  border-radius: 35px;
  padding-top: 22px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
  height: 140px;
  background-color: #F3F3F3;
}
.container7 .listt1 ul {
  list-style-type: none;
}

.sec7Main {
  margin-top: 60px;
}

.sec7 {
  margin-top: 30px;
}

.containerNo9 {
  display: flex;
  justify-content: center;
}

.section9 {
  height: 770px;
}
.section9 .row {
  border-radius: 45px;
  background-color: #F3F3F3;
}
.section9 .col2 {
  display: flex;
  align-items: center;
}
.section9 input {
  border: 1px solid black;
}
.section9 label {
  font-weight: 400;
}
.section9 .containerNo9 .container9 .imgParent img {
  padding-right: 600px;
}

.formPart2 .msg {
  height: 150px !important;
}

.radioParent {
  margin-right: 128px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerParent {
  height: 515px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
}
.footerParent .containerParent {
  height: 515px;
  background-color: black;
  border-radius: 225px;
}
.footerParent .containerParent .body {
  border-radius: 12%;
}
.footerParent .container-fluid img {
  filter: invert(1);
}
.footerParent .navbar {
  background-color: black;
  align-items: baseline;
  padding: 50px;
  border-radius: 35%;
}

.navList1 {
  width: 100%;
  justify-content: center;
  display: flex;
}
.navList1 .navbar-nav {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 40px;
}
.navList1 li a {
  color: white;
}

.navList2 ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.navList2 ul li img {
  filter: invert(100%);
}

.navList2 ul li img:nth-child(odd) {
  filter: invert(0%);
}

.body {
  background-color: black;
  height: 55%;
  padding: 0px 50px;
}
.body .container1 {
  display: flex;
  flex-direction: column;
}
.body .container1 .textParent p {
  color: white;
}
.body .col1 {
  display: flex;
  justify-content: center;
}
.body .col2 .container {
  display: flex;
  align-items: center;
}
.body .col2 .border {
  height: 186px;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: #292A32;
  padding: 30px;
  border: none !important;
}
.body .col2 .border .input-group {
  display: flex;
  gap: 20px;
}
.body .col2 .border input {
  height: 66px;
  width: 285px;
}

.name {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  height: 90px;
  align-content: center;
}

.border {
  border-radius: 20px !important;
}
.border .input-group {
  display: flex !important;
}
.border input {
  width: auto !important;
}

.mob {
  padding: 60px;
}

@media (max-width: 576px) {
  .heroSection {
    height: 400px;
  }
  .heroSection button {
    width: 100%;
    height: 47px;
  }
  .heroTextParent {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 333px;
    padding: -29px;
    text-align: center;
  }
  .section9 imgParent img {
    display: none !important;
  }
  .footerParent .containerParent .navbar {
    padding: 5px;
  }
  .footerParent .containerParent .container-fluid {
    padding: 10px;
  }
  .footerParent .containerParent .body .row .col1 .container1 {
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
  }
  .txt3Parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .mob {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */