.heroSection {
    height: 600px;
    // border: 20px solid red;
    width: 100%;
}

// .row{
//     border: 20px solid green;
// }

// .col1{
//     border: 10px solid blue;
// }
// .col2{
//     border: 10px solid brown;
// }

.container {
    display: flex;
}



.navList ul {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    flex-wrap: wrap;
}



.heroTextParent {
    align-content: center;

}

.imgParent {
    display: flex;
}

.list1Parent ul {

    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.txt3Parent {
    display: flex;
    gap: 20px;


    p {
        align-content: center;
    }
}




// cards

.cardsParent {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cardd1 {
    background-color: #f3f3f3;
    border-radius: 45px;
}

.cardd2 {
    background-color: #b9ff66;
    border-radius: 45px;

    button {
        background-color: #b9ff66;
    }
}

.card-body {

    justify-content: center;
    align-content: center;
    text-align: center;


    .card-title1 {
        background-color: #b9ff66;

    }

    .card-title2 {
        background-color: #f3f3f3;

    }




}

.card-body button {
    margin-top: 30px;
    border: none;


    span {
        margin-right: 10px;
    }
}



.sec3Col2 img {
    padding: 40px;
}

// .sec6-card{
//     border-radius: 20px;
//     display: flex;
//     background-color:#b9ff66 ;


//     .txt6{
//         text-align: left;
//     }
// }

// .card-body{
//     display: flex;
// }

.section6 {
    display: flex;
    justify-content: center;
}

.sec6-card {
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.4);

    background-color: #b9ff66;
    // height: 100px;

    display: flex;
    gap: 10px;
    // align-content: center;
    justify-content: start !important;
    align-items: center;



}

.list-group-item {
    background-color: #b9ff66;
    border-radius: 20px !important;

    p {
        color: black;
        padding: 15px 50px;
    }
}

.sec6Card {
    padding: 20px 70px;
    // gap: 10px;
}







// // section7
// .sec7-card {
//     border-radius: 45px;
//     background-color: #F3F3F3;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.4);


//     height: 159px;

// }


// .section7 {

//     .listItem1 {
//         padding: 70px;
//     }

//     .listItem2 {
//         justify-content: end;
//         display: flex;
//         padding: 77px;
//     }


// }


// @media (min-width:769px) {
//     // .section7 {
//     //     .listItem2 {
//     //         display: flex;
//     //         justify-content: center;
//     //     }
//     // }
// }





// section7
.containerNo7 {
    display: flex;
    justify-content: center;

}

.container7 {
    border: 0.1px solid black;
    width: 80rem;

    justify-content: space-between;
    padding: 20px;
    border-radius: 35px;
    padding-top: 22px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);


    height: 140px;
    background-color: #F3F3F3;

    .listt1 ul {
        list-style-type: none;
    }


}

.sec7Main {
    margin-top: 60px;
}

.sec7 {
    margin-top: 30px;
}



.containerNo9 {
    display: flex;
    justify-content: center;
}

// sectionn9
.section9 {
    // border: 5px solid red;
    height: 770px;

    // .col1,
    // .col2 {
    //     // border: 2px solid green;
    // }

    .row {
        border-radius: 45px;
        // border: 2px solid green;
        background-color:
            #F3F3F3;
    }

    .col2 {
        display: flex;
        align-items: center;
        // border: 5px solid rgb(4, 65, 197);
    }

    input {
        border: 1px solid black;
    }

    label {
        font-weight: 400;
    }

    .containerNo9 {
        .container9 {
            .imgParent {
                img {
                    padding-right: 600px;
                }
            }
        }
    }

}

.formPart2 .msg {
    height: 150px !important;
}

.radioParent {
    margin-right: 128px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




// footer
.footerParent {
    height: 515px;
    // background-color: grey;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: baseline;

    .containerParent {
        height: 515px;
        background-color: black;
        border-radius: 225px;

        .body {
            border-radius: 12%;
        }

    }

    .container-fluid {
        img {
            filter: invert(1);
        }
    }

    .navbar {
        background-color: black;

        align-items: baseline;
        padding: 50px;
        border-radius: 35%;


    }

}




.navList1 {
    width: 100%;
    justify-content: center;
    display: flex;

    .navbar-nav {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 40px;
    }

    li {

        a {
            color: white;
        }
    }

}

.navList2 {
    ul {
        display: flex;
        gap: 30px;
        list-style-type: none;



    }
}

.navList2 ul li img {
    // border: 2px solid white;
    filter: invert(100%);
}

.navList2 ul li img:nth-child(odd) {
    filter: invert(0%);
}




.body {
    background-color: black;
    height: 55%;
    padding: 0px 50px;

    .container1 {
        display: flex;
        flex-direction: column;


        .textParent {
            p {
                color: white;
            }
        }
    }


    .col1 {

        display: flex;
        justify-content: center;
    }


    .col2 {

        .container {
            display: flex;
            align-items: center;
        }

        .border {
            height: 186px;
            width: 100%;
            align-items: center;
            display: flex;
            background-color: #292A32;
            padding: 30px;
            border: none !important;



            .input-group {
                display: flex;
                gap: 20px;
            }

            input {
                height: 66px;
                width: 285px;
            }
        }
    }
}


.name {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    height: 90px;
    align-content: center;

}

.mob {
    padding: 60px;
}





@media (max-width: 576px) {

    .heroSection {
        height: 400px;

        button {
            width: 100%;
            height: 47px;
        }
    }

    .heroTextParent {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 333px;
        padding: -29px;
        text-align: center;

    }

    .section9 {
        imgParent {
            img {
                display: none !important;
            }
        }
    }



    .footerParent {
        .containerParent {

            .navbar {
                padding: 5px;
            }

            .container-fluid {
                padding: 10px;
            }

            .body {

                .row {

                    .col1 {

                        .container1 {
                            display: flex !important;
                            // justify-content: center !important;
                            align-items: center !important;
                            align-content: center !important;
                            text-align: center !important;
                        }

                    }

                }

            }

        }

    }

    .txt3Parent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }


    .mob {
        padding: 10px;
    }



}